{{if .IsLogin}}
{{if .IsAdmin}}
{{with .Task}}
<fieldset id="editTask">
<legend>编辑任务点</legend>
<form method="post" action="/editTask">
<div>
<label style="width: 300px; text-align: right; display: inline-block">名称：{{.Name}}</label>
<input type="hidden" name="tn" value="{{.Name}}" />
</div>
<div>
<label for="introduction" style="width: 300px; text-align: right; display: inline-block">简介（100字内）：</label>
<textarea id="introduction" name="introduction" rows="5" cols="20" minlength="0" maxlength="100">{{.Introduction}}</textarea>
</div>
<div>
<input type="checkbox" id="subd" name="subd" value="subd" {{if .SubDir}}checked{{end}} />
<label for="subd">建立子文件夹</label>
</div>
<div>
<label for="maxs" style="width: 300px; text-align: right; display: inline-block">源文件大小限制（1～104857600字节）：</label>
{{if .MaxSize}}<input type="number" id="maxs" name="maxs" min="1" max="104857600" required value="{{.MaxSize}}" />{{else}}<input type="number" id="maxs" name="maxs" min="1" max="104857600" required value="524288" />{{end}}
</div>
<div>
<label for="fileType" style="width: 300px; text-align: right; display: inline-block">允许的后缀（例如 ".cpp" ）：</label>
<input type="text" id="fileType" name="fileType" required minlength="1" maxlength="8" size="20" value="{{.FileType}}"/>
</div>
<div>
<input type="radio" id="recv" name="recvOrJudge" value="recv" {{if not .Judge}}checked{{end}} onclick="ifJudge()"/>
<label for="recv">仅收取</label>
<input type="radio" id="judge" name="recvOrJudge" value="judge" {{if .Judge}}checked{{end}} onclick="ifJudge()"/>
<label for="judge">内置简单评测</label>
<p>警告：内置简单评测无任何安保措施！提交者有可能利用那些漏洞！</p>
<p>注意：内置简单评测仅支持C++，且为单线程评测。评测结果仅供参考。</p>
</div>
<div>
<input type="radio" id="fileIO" name="fileOrStd" value="fileIO" {{if .FileIO}}checked{{end}} class="judgeOpt" />
<label for="fileIO">文件输入输出</label>
<input type="radio" id="stdIO" name="fileOrStd" value="stdIO" class="judgeOpt" {{if not .FileIO}}checked{{end}} />
<label for="stdIO">标准输入输出</label>
</div>
<div>
<input type="checkbox" id="shows" name="shows" value="shows" class="judgeOpt" {{if .ShowScore}}checked{{end}} />
<label for="shows">排行榜显示分数</label>
</div>
<div>
<label for="cc" style="width: 300px; text-align: right; display: inline-block">编译器绝对路径（100字内）：</label>
<input type="text" id="cc" name="cc" required minlength="1" maxlength="100" size="20" class="judgeOpt" value="{{.CC}}" />
</div>
<div>
<label for="cflags" style="width: 300px; text-align: right; display: inline-block">编译选项（100字内）：</label>
<input type="text" id="cflags" name="cflags" required minlength="1" maxlength="100" size="20" class="judgeOpt" value="{{.CFlags}}" />
</div>
<div>
<label for="duration" style="width: 300px; text-align: right; display: inline-block">时间限制（1～1000毫秒）：</label>
{{if .Duration}}<input type="number" id="duration" name="duration" min="1" max="10000" required class="judgeOpt" value="{{.Duration}}" />{{else}}<input type="number" id="duration" name="duration" min="1" max="10000" required class="judgeOpt" value="1000" />{{end}}
</div>
<div>
<input type="submit" class="btn" value="提交保存">
<div>
</form>
<hr/>
<form action="/upldTest" method="post" style="display: inline-block;" enctype="multipart/form-data">
<div>
<label for="testpoints" style="width: 300px; text-align: right; display: inline-block">上传测试点：</label>
<input type="hidden" name="tn" value="{{.Name}}" />
<input type="file" id="testpoints" name="testpoints" accept=".zip" class="judgeOpt" required />
<p>注意：必须为zip格式，对所有文件直接压缩而不是压缩文件夹。前缀需与真实名称一致，后面可使用数字从1开始编号。</p>
<p>注意：.in文件代表输入，.out文件代表正确的输出。上传的文件应不大于100MB。</p>
<p>举例：chengxin1.in/chengxin1.out</p>
<input type="submit" class="btn" value="上传">
</div>
</form>
<form method="get" action="/delTest" style="display: inline-block;">
<input type="hidden" name="tn" value="{{.Name}}" />
<input type="submit" class="btn" value="清空上传" onclick="return confirm('确认删除上传的测试点吗？');">
</form>
</fieldset>
<script>
var recv = document.getElementById("recv");
var judgeOpt = document.getElementsByClassName("judgeOpt");
for (var i = 0; i < judgeOpt.length; i++) { //循环遍历
  judgeOpt[i].disabled = recv.checked;
}

function ifJudge() {
  for (var i = 0; i < judgeOpt.length; i++) { //循环遍历
    judgeOpt[i].disabled = recv.checked;
  }
}
</script>
{{end}}
{{else}}
<script type="text/javascript">alert("权限不足");window.location.replace("/");</script>
{{end}}
{{else}}
<script type="text/javascript">alert("请先登录");window.location.replace("/");</script>
{{end}}