<div id="rk">
<fieldset>
<legend>榜单</legend>
<table border="1">
<tr>
<th>Name</th>
{{range $v := .TaskList}}
<th>{{$v}}</th>
{{end}}
</tr>
{{range $n := .UserList}}
<tr>
<td>{{$n}}</td>
{{range $t := $.TaskList}}
{{with getrst $n $t}}<td style="background-color:rgba({{getcol .}})"><a href="javascript:alert(`{{if .Info}}{{.Info}}\n{{end}}========\n{{range $k, $v := .Details}}{{$k}}# {{$v.Stat}}\n{{$v.Info}}\n----------------\n{{end}}`);">{{.Stat}}</a>{{end}}</td>
{{end}}
</tr>
{{end}}
</table>
</fieldset>
</div>