<div id="rk">
<fieldset>
<legend id="top">榜单</legend>
<table>
<tr>
<th>Name</th>
{{range $v := .TaskList}}
<th>{{$v}}</th>
{{end}}
</tr>
{{range $n := .UserList}}
<tr>
<td>{{$n}}</td>
{{range $t := $.TaskList}}
{{with getRst $n $t}}<td style="background-color:rgba({{getCol .}})"><a href="#{{$n}}-{{$t}}">{{.Stat}}</a>{{end}}</td>
{{end}}
</tr>
{{end}}
</table>
<hr />
{{range $n := .UserList}}
<fieldset>
<legend>用户：{{$n}}</legend>
{{range $t := $.TaskList}}
<h3 id="{{$n}}-{{$t}}">题目：{{$t}}</h3>
{{with getRst $n $t}}
{{if .Info}}<pre>{{.Info}}</pre>{{end}}
{{if .Details}}
<table>
<tr>
<th>测试点</th>
<th>状态</th>
<th>耗时</th>
<th>详情</th>
</tr>
{{range $k, $v := .Details}}
<tr>
<td>{{$k}}#</td>
<td style="background-color:rgba({{getPointCol .}})">{{$v.Stat}}</td>
<td>{{$v.Time}}ms</td>
<td><pre>{{$v.Info}}</pre></td>
</tr>
{{end}}
</table>
{{end}}
{{end}}
<a href="#top">回到顶部</a>
<hr />
{{end}}
</fieldset>
{{end}}
</fieldset>
</div>
<script type="text/javascript">document.title="榜单 - "+document.title;</script>