<div id="rk">
<fieldset>
<legend id="top">榜单</legend>
<table border="1">
<tr>
<th>Name</th>
{{range $v := .TaskList}}
<th>{{$v}}</th>
{{end}}
</tr>
{{range $n := .UserList}}
<tr>
<td>{{$n}}</td>
{{range $t := $.TaskList}}
{{with getrst $n $t}}<td style="background-color:rgba({{getcol .}})"><a href="#{{$n}}-{{$t}}">{{.Stat}}</a>{{end}}</td>
{{end}}
</tr>
{{end}}
</table>
<hr />
{{range $n := .UserList}}
<fieldset>
<legend>用户：{{$n}}</legend>
{{range $t := $.TaskList}}
<h3 id="{{$n}}-{{$t}}">题目：{{$t}}</h3>
{{with getrst $n $t}}
<pre>{{if .Info}}{{.Info}}{{end}}</pre>
{{range $k, $v := .Details}}
<h4>{{$k}}# {{$v.Stat}} ({{$v.Time}}ms)</h4>
<pre>{{$v.Info}}</pre>
{{end}}
{{end}}
<a href="#top">回到顶部</a>
<hr />
{{end}}
</fieldset>
{{end}}
</fieldset>
</div>
<script type="text/javascript">document.title="榜单 - "+document.title;</script>