<div>
<fieldset>
<legend>任务点</legend>
{{with .Task}}
<fieldset>
<legend>基本</legend>
<fieldset>
<legend>名称</legend>
<p>{{.Name}}</p>
</fieldset>
<fieldset>
<legend>题目</legend>
{{if .Prob.UseHTML}}
<div>{{(getFileStr .Prob.HTMLName) | unescaped}}</div>
{{else}}
{{if .Prob.Title}}<fieldset><legend>标题</legend>{{.Prob.Title}}</fieldset>{{end}}
{{if .Prob.Background}}<fieldset><legend>背景</legend>{{.Prob.Background | unescaped}}</fieldset>{{end}}
{{if .Prob.Introduction}}<fieldset><legend>描述</legend>{{.Prob.Introduction | unescaped}}</fieldset>{{end}}
{{if .Prob.Input}}<fieldset><legend>输入提示</legend>{{.Prob.Input | unescaped}}</fieldset>{{end}}
{{if .Prob.Output}}<fieldset><legend>输出提示</legend>{{.Prob.Output | unescaped}}</fieldset>{{end}}
{{if .Prob.InCase}}<fieldset><legend>输入样例</legend><pre>{{.Prob.InCase}}</pre></fieldset>{{end}}
{{if .Prob.OutCase}}<fieldset><legend>输出样例</legend><pre>{{.Prob.OutCase}}</pre></fieldset>{{end}}
{{end}}
</fieldset>
<fieldset>
<legend>最大源文件大小（字节）</legend>
<p>{{.MaxSize}}</p>
</fieldset>
<fieldset>
<legend>需要提交的文件：</legend>
<p>{{.Name}}{{.FileType}}</p>
</fieldset>
</fieldset>
{{if .Judge}}
<fieldset>
<legend>评测</legend>
<fieldset>
<legend>输入输出方式</legend>
<p>{{if .FileIO}}文件{{else}}标准{{end}}输入输出</p>
</fieldset>
<fieldset>
<legend>时间限制（毫秒）</legend>
<p>{{.Duration}}</p>
</fieldset>
</fieldset>
{{end}}
{{if not $.IsAdmin}}
<fieldset>
<legend>提交</legend>
<form action="/submit" method="post" enctype="multipart/form-data">
<input type="hidden" id="subFN" name="subFN" value="{{.Name}}" />
<input type="file" name="submitFile" id="submitFile" required accept="{{.FileType}}" />
<input type="submit" class="btn" value="提交" />
</form>
</fieldset>
{{end}}
{{end}}
</fieldset>
</div>
<script type="text/javascript">document.title="{{.Task.Name}} - "+document.title;</script>