<div>
<fieldset>
<legend>任务点</legend>
{{with .Task}}
<fieldset>
<legend>基本</legend>
<fieldset>
<legend>名称</legend>
<p>{{.Name}}</p>
</fieldset>
<fieldset>
<legend>简介</legend>
<p>{{if .Introduction}}{{.Introduction}}{{else}}（空）{{end}}</p>
</fieldset>
<fieldset>
<legend>最大源文件大小（字节）</legend>
<p>{{.MaxSize}}</p>
</fieldset>
<fieldset>
<legend>需要提交的文件：</legend>
<p>{{.Name}}{{.FileType}}</p>
</fieldset>
</fieldset>
{{if .Judge}}
<fieldset>
<legend>评测</legend>
<fieldset>
<legend>输入输出方式</legend>
<p>{{if .FileIO}}文件{{else}}标准{{end}}输入输出</p>
</fieldset>
<fieldset>
<legend>显示分数</legend>
<p>{{if .ShowScore}}是{{else}}否{{end}}</p>
</fieldset>
<fieldset>
<legend>时间限制（毫秒）</legend>
<p>{{.Duration}}</p>
</fieldset>
</fieldset>
{{end}}
<fieldset>
<legend>提交</legend>
<form action="/submit" method="post" enctype="multipart/form-data">
<input type="hidden" id="subFN" name="subFN" value="{{.Name}}" />
<input type="file" name="submitFile" id="submitFile" required accept="{{.FileType}}" />
<input type="submit" class="btn" value="提交" />
</form>
</fieldset>
{{end}}
</fieldset>
</div>