{{if .IsLogin}}
{{if .IsAdmin}}
<script type="text/javascript">
// 代码来源于网络
// 全选/全不选
function funcAll()
{
  var selectAll = document.getElementById("selectAll");
  var selectOnes = document.getElementsByClassName("selectOne");
  for (var i = 0; i < selectOnes.length; i++)
  { //循环遍历，把全选框的值赋给每个单选框
    selectOnes[i].checked = selectAll.checked;
  }
}
function funcOne()
{
  var selectAll = document.getElementById("selectAll"); //函数作用域，所以得再定义一遍
  var selectOnes = document.getElementsByClassName("selectOne");
  var isAllChecked = true; //定义一个变量作为桥梁来控制全选按钮
  for (var i = 0; i < selectOnes.length; i++)
  {
    if (selectOnes[i].checked === false)
    {
      isAllChecked = false;
      break;
    }
  }
  selectAll.checked = isAllChecked;
}
// 退出modal
window.onclick = function(event)
{
  var modals = document.getElementsByClassName("modal");
  for (var i = 0; i < modals.length; i++)
  {
    if (event.target == modals[i])
    {
      modals[i].style.display = "none";
    }
  }
}
</script>
<fieldset>
<legend>用户列表</legend>
<div>
<button class="btn" onclick="document.getElementById('impUserModal').style.display='block'">导入用户</button>
<div id="impUserModal" class="modal">
<div class="modal-content">
<form action="/impUser" method="post" enctype="multipart/form-data" style="display: inline-block;">
<input type="file" id="file" name="file" accept=".db" required />
<input class="btn" type="submit" value="提交" />
</form>
<button class="btn" onclick="document.getElementById('impUserModal').style.display='none'">关闭</button>
<p>注意：上传数据文件应不大于100MB。新数据会与旧数据合并，相同名称用户数据以新的为准。</p>
</div>
</div>
<input class="btn" type="submit" formaction="/expUser" form="userSettings" value="导出选中" />
<input class="btn" type="submit" formaction="/delUser" form="userSettings" value="删除选中" onclick="return confirm('确认删除？');" />
<button class="btn" onclick="document.getElementById('rstPasswdModal').style.display='block'">重设密码</button>
<div id="rstPasswdModal" class="modal">
<div class="modal-content">
<div>
<label>密码必须包含大小写字母和数字的组合，可以使用特殊字符，长度在6-16之间</label>
</div>
<div>
<label for="rstPasswd" style="width: 100px; text-align: left; display: inline-block;">密码:</label>
<input type="password" id="rstPasswd" class="passPasswd" required />
</div>
<div>
<label for="rstConfirm" style="width: 100px; text-align: left; display: inline-block;">确认密码:</label>
<input type="password" id="rstConfirm" class="passConfirm" required />
</div>
<div>
<input type="hidden" id="rstMd5" name="rstMd5" class="passMd5" form="userSettings"/>
</div>
<script src="/static/scripts/md5.js" type="text/javascript"></script>
<script src="/static/scripts/pass.js" type="text/javascript"></script>
<input class="btn" type="submit" formaction="/resetPasswd" form="userSettings" onclick="return checkPasswd()" value="提交" />
<button class="btn" onclick="document.getElementById('rstPasswdModal').style.display='none'">关闭</button>
</div>
</div>
</div>
<ul>
<form method="post" id="userSettings">
<li>
<input type="checkbox" id="selectAll" name="selectAll" value="selectAll" onclick="funcAll();" />
<label for="selectAll">全选/全不选</label>
</li>
{{range $name := .UserList}}
<li>
<input type="checkbox" id="{{$name}}" name="uname" value="{{$name}}" class="selectOne" onclick="funcOne();"/>
<label for="{{$name}}">{{$name}}</label>
</li>
{{else}}
<li>没有用户</li>
{{end}}
</form>
</ul>
</fieldset>
{{else}}
<script type="text/javascript">alert("权限不足");window.location.replace("/");</script>
{{end}}
{{else}}
<script type="text/javascript">alert("请先登录");window.location.replace("/");</script>
{{end}}
<script type="text/javascript">document.title="管理用户 - "+document.title;</script>